nav{
  background-color: #000000;
  position:fixed;
  top:0;
  left:0;
  right:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size:200%;
}

#nav-text{
  font-family: 'Spicy Rice', cursive;
  padding: 1%;
  color:#999999;
}

#menu-bar{
  padding: 1%;
  color:#999999;
}
