<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Dashboard</title>
        <!-- Start:General Styles -->
        <%- include('../layouts/general-styles'); -%>
        <!-- <link rel="stylesheet" href="css/about.css"> -->
        <!-- End: General Styles -->
</head>
<body>
       <!-- Start: Navigation -->
   <%- include('layouts/nav'); -%>
   <!-- End: Navigation -->

     <!-- Start:Genral Scripts -->
     <%- include('../layouts/general-scripts'); -%>
<!-- End:Genral Scripts -->
</body>
</html>