<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Dashboard</title>
        <!-- Start:General Styles -->
        <%- include('../layouts/general-styles'); -%>
        <link rel="stylesheet" href="css/admin/dashboard.css">
        <!-- End: General Styles -->
</head>
<body>
       <!-- Start: Navigation -->
   <%- include('layouts/nav'); -%>
   <!-- End: Navigation -->

   <!-- page h1 title -->
   <h1>TODAY</h1>
   <!-- Summary Cards Section -->
   <section class="sumary-cards">
       <a href="#" class="total-orders">
           <div class="card-text">
            <span class="order-count">107</span>
            <span>Total Orders</span>
           </div>
           <div class="card-img">
            <img src="images/food-delivery.png" alt="">
           </div>
       </a>
       <a href="#" class="total-revenue">
        <div class="card-text">
        <span class="revenue-count">GHS 1,097</span>
        <span>Total Revenue</span>
       </div>
       <div class="card-img">
        <img src="images/money.png" alt="">
       </div>  
       </a>
       <a href="#" class="total-feedback">
        <div class="card-text">
        <span class="feedback-count">10</span>
        <span>Customer Feedback</span>
       </div>
       <div class="card-img">
        <img src="images/mail.png" alt="">
       </div>
       </a>
   </section>

      <!-- Order Summary Cards Section -->
      <section class="order-summary-card">
        <a href="#">
          <div class="order-card">
            <div class="order-text">
                <span class="pending-order-count">23</span>
                <span>Pending Orders</span>
               </div>
               <div class="order-img">
                <img src="images/pending.png" alt="">
               </div>         
          </div> 
          
          <div class="order-card">
            <div class="order-text">
                <span class="cancelled-order-count">4</span>
                <span>Cancelled Orders</span>
               </div>
               <div class="order-img">
                <img src="images/cancel.png" alt="">
               </div>         
          </div> 

          <div class="order-card">
            <div class="order-text">
                <span class="accepted-order-count">19</span>
                <span>Accepted Orders</span>
               </div>
               <div class="order-img">
                <img src="images/accept.png" alt="">
               </div>         
          </div> 

          <div class="order-card">
            <div class="order-text">
                <span class="dispatched-order-count">21</span>
                <span>Dispatched Orders</span>
               </div>
               <div class="order-img">
                <img src="images/food-delivery.png" alt="">
               </div>         
          </div> 

          <div class="order-card">
            <div class="order-text">
                <span class="delivered-order-count">13</span>
                <span>Delivered Orders</span>
               </div>
               <div class="order-img">
                <img src="images/receive.png" alt="">
               </div>         
          </div> 
          
        </a>
    </section>

    <!-- Menu and Order List Summary -->
    <!-- <section class="menu-order-list-summary"> -->
      <div class="menu-list">
       <p class="menu-list-title"><span>Menu List</span><a href="#">View All</a></p> 
       <p class="menu-list-title"><span>Specials</span><span></span></p>
       <p class="menu-list-item"><span>Pancake Jumbo</span><span>GHS 15</span></p>
       <p class="menu-list-item"><span>Savanna Juice</span><span>GHS 8</span></p>
       <p class="menu-list-item"><span>Tropical Mix</span><span>GHS 8</span></p>
       <p class="menu-list-item"><span>Avenger Breakfast</span><span>GHS 35</span></p>
       <p class="menu-list-item"><span>iChef Morning</span><span>GHS 25</span></p>
       <p class="menu-list-item"><span>Vita Rambo</span><span>GHS 10</span></p>

       <p class="menu-list-title"><span>Breakfast</span><span></span></p>
       <p class="menu-list-item"><span>American Waffles</span><span>GHS 5</span></p>
       <p class="menu-list-item"><span>Eggs</span><span>GHS 8</span></p>
       <p class="menu-list-item"><span>Oatsmeal</span><span>GHS 5</span></p>
       <p class="menu-list-item"><span>Irish Pancakes</span><span>GHS 5</span></p>

       <p class="menu-list-title"><span>Breakfast Combo</span><span></span></p>
       <p class="menu-list-item"><span>The Burger Meal</span><span>GHS 20</span></p>
       <p class="menu-list-item"><span>Burger Brown</span><span>GHS 18</span></p>
       <p class="menu-list-item"><span>Stake Lover</span><span>GHS 20</span></p>

       <p class="menu-list-title"><span>Sandwich</span><span></span></p>
       <p class="menu-list-item"><span>Basil Sandwich</span><span>GHS 10</span></p>
       <p class="menu-list-item"><span>Club Sandwich</span><span>GHS 12</span></p>

       <p class="menu-list-title"><span>Smoothies</span><span></span></p>
       <p class="menu-list-item"><span>Sunshine</span><span>GHS 8</span></p>

       <p class="menu-list-title"><span>Milkshake</span><span></span></p>
       <p class="menu-list-item"><span>Vanilla</span><span>GHS 8</span></p>
       <p class="menu-list-item"><span>Chocolate</span><span>GHS 8</span></p>

       <p class="menu-list-title"><span>Salad</span><span></span></p>
       <p class="menu-list-item"><span>Avocado Salad</span><span>GHS 10</span></p>
       <p class="menu-list-item"><span>Fully Loaded</span><span>GHS 15</span></p>

       <p class="menu-list-title"><span>Extra</span><span></span></p>
       <p class="menu-list-item"><span>Tacos</span><span>GHS 10</span></p>
      </div>

        <!-- Received Order List -->
      <div class="order-list">
        <p class="order-list-title"><span>Received Orders</span><a href="#">View All</a></p>
        <div class="order-list-container">
        <table>
          <tbody>
          <!-- Table heading -->
          <tr>
            <th>Name</th>
            <th>Orders</th>
            <th>Subtotal</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
          <!-- Table data -->
          <tr>
            <td>
              <table>
                <tr>
                  <td>Chris Evans</td>
                </tr>
                  <tr>
                  <td>Order ID - #234964</td>
                </tr>
              </table>
            </td>

            <td>The Burger Meal</td>
            <td>2 x GHS 15 = 30</td>
            <td>GHS 30</td>
            <td>Pending</td>
          </tr>
          <!-- Table Data -->
          <tr>
            <td>
              <table>
                <tr>
                  <td>Jeremy Renner</td>
                </tr>
                  <tr>
                  <td>Order ID - #1154964</td>
                </tr>
              </table>
            </td>

            <td>Sunshine</td>
            <td>1 x GHS 8 = 8</td>
            <td>GHS 8</td>
            <td>Pending</td>
          </tr>

            <!-- Table Data -->
          <tr>
            <td>
              <table>
                <tr>
                  <td>Bruce Banner</td>
                </tr>
                  <tr>
                  <td>Order ID - #7854964</td>
                </tr>
              </table>
            </td>

            <td>
              <table>
                <tr>
                  <td>Pancake Jumbo</td>
                </tr>
                  <tr>
                  <td>Avenger Breakfast</td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>2 x GHS15 = 30</td>
                </tr>
                  <tr>
                  <td>3 x GH35 = 105</td>
                </tr>
              </table>
            </td>
            <td>GHS 135</td>
            <td>Accepted</td>
          </tr>
          <!-- Table Data -->
          <tr>
            <td>
              <table>
                <tr>
                  <td>JK Rowling</td>
                </tr>
                  <tr>
                  <td>Order ID - #09154964</td>
                </tr>
              </table>
            </td>

            <td>Basil Sandwich</td>
            <td>1 x GHS 10 = 10</td>
            <td>GHS 8</td>
            <td>Dispatched</td>
          </tr>
          <!-- Table Data -->
          <tr>
            <td>
              <table>
                <tr>
                  <td>Wilfred Malik</td>
                </tr>
                  <tr>
                  <td>Order ID - #4714964</td>
                </tr>
              </table>
            </td>

            <td>Avocado Salad</td>
            <td>1 x GHS 10 = 10</td>
            <td>GHS 10</td>
            <td>Delivered</td>
          </tr>
          <!-- Table Data -->
          <tr>
            <td>
              <table>
                <tr>
                  <td>Steve Roggers</td>
                </tr>
                  <tr>
                  <td>Order ID - #8854964</td>
                </tr>
              </table>
            </td>

            <td>
              <table>
                <tr>
                  <td>Fully Loaded</td>
                </tr>
                  <tr>
                  <td>Club Sandwich</td>
                </tr>
                <tr>
                  <td>Stake lover</td>
                </tr>
                <tr>
                  <td>iChef Morning</td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td>2 x GHS 15 = 30</td>
                </tr>
                  <tr>
                  <td>1 x GH 12 = 12</td>
                </tr>
                <tr>
                  <td>3 x GH 20 = 60</td>
                </tr>
                <tr>
                  <td>4 x GH 25 = 100</td>
                </tr>
              </table>
            </td>
            <td>GHS 202</td>
            <td>Cancelled</td>
          </tr>
        </tbody>
        </table>
      </div>
      </div>

    <!-- </section> -->

        <!-- start:footer -->
<%- include('../layouts/footer'); -%>
<!-- End:footer -->

     <!-- Start:Genral Scripts -->
     <%- include('../layouts/general-scripts'); -%>
<!-- End:Genral Scripts -->
</body>
</html>