<footer>
    <p><span>Laughter</span> is <span>brightest</span> where <span>food</span> is <span>best</span></p>
    <p>Copyright ©<span id="year">2020</span> All rights reserved <span>|</span> Made with <span class="icon-flaticon-recipe"></span>.</p>
</footer>