<nav>
    <div class="nav-menu">
    <div class="logo-container">
        <div>
        <img src="images/logo-ii-reduced.png" alt="log of bar">
        <span>FRESHLINE</span>
    </div>
        <small>BREAKFAST</small>
    </div>
    <div class="desktop-nav-links">
       <span onclick="dropdown()" id="menu-span"><i class="fa fa-bars" id="hamburger"></i>MENU</span>
       <div class="">
           <a href="/" class="home-page-active">Home</a>
           <a href="/menu" class="menu-page-active">Menu</a>
           <a href="/services" class="services-page-active">Services</a>
           <a href="/about" class="about-page-active">About</a>
           <a href="/contact" class="contact-page-active">Contact</a>
           <a href="/cart" class="cart-page-active">Cart</a>
       </div> 
    </div>
</div>
    <div class="mobile-nav-links hide" id='mobile-nav-links'>
        <a href="/" class="home-page-active">Home</a>
        <a href="/menu" class="menu-page-active">Menu</a>
        <a href="/services" class="services-page-active">Services</a>
        <a href="/about" class="about-page-active">About</a>
        <a href="/contact" class="contact-page-active">Contact</a>
        <a href="/cart" class="cart-page-active">Cart</a>       
    </div>
</nav>
<section id='nav-overlay' class="" onclick="dropdown()"></section>