<nav>
    <div class="nav-menu">
    <div class="logo-container">
        <div>
        <img src="images/logo-ii-reduced.png" alt="log of bar">
        <span>FRESHLINE</span>
    </div>
        <small>BREAKFAST</small>
    </div>
    <div class="desktop-nav-links">
       <span onclick="dropdown()" id="menu-span"><i class="fa fa-bars" id="hamburger"></i>MENU</span>
       <div class="">
           <a href="" style="color:#dd4d09;">Home</a>
           <a href="">Menu</a>
           <a href="">Services</a>
           <a href="/about">About</a>
           <a href="/contact">Contact</a>
           <a href="">Cart</a>
       </div> 
    </div>
</div>
    <div class="mobile-nav-links hide" id='mobile-nav-links'>
        <a href="" style="color:#dd4d09;">Home</a>
        <a href="">Menu</a>
        <a href="">Services</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="">Cart</a>       
    </div>
</nav>
<section id='nav-overlay' class="" onclick="dropdown()"></section>