<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshline Bar - Services</title>
        <!-- Start:General Styles -->
        <%- include('layouts/general-styles'); -%>
        <link rel="stylesheet" href="css/services.css">
        <!-- End: General Styles -->
</head>
<body>
       <!-- Start: Navigation -->
       <%- include('layouts/nav'); -%>
       <!-- End: Navigation -->
       <!-- Start: Home Section -->
       <section class="home-section">
           <h1>SERVICES</h1>
           <p><a href="#">HOME</a> <a href="#">SERVICES</a></p>
       </section>   
       <!-- End:Home Section  -->
       <!-- start: Services section -->
<section class="services">
    <div class="services-intro">
        <h2>OUR SERVICES</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
    </div>
    <div class="services-list">
        <div class="services-list-item">
            <span class="icon-flaticon-vegetables my-icon"></span>
            <h3>FRESH INGREDIENTS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="services-list-item">
            <span class="icon-flaticon-deliver my-icon"></span>
            <h3>FAST DELIVERY</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="services-list-item">
            <span class="icon-flaticon-recipe my-icon"></span>
            <h3>ORIGINAL RECIPES</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</section>
<!-- end: Services section -->
<!-- start: Menu section -->
<section class="menu">
    <div class="menu-intro">
        <h2>OUR MENU SPECIALS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut aliqua. 
            </p>
    </div>
    <div class="menu-list-container">
        <div class="meal-item-container">
            <div class="meal-image-container" style="background-image: url(../images/breakfast-menu-ii.jpg);">
                <!-- <img src="images/breakfast-menu-ii.jpg" alt=""> -->
            </div>
            <div class="meal-item-details">
                <div>
                <h3>Pancake Jumbo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut aliqua.</p>
                    <span>GHS 15.00</span>
                    <div>
                    <button>Add to cart</button>
                    <button>Order Now</button>
                </div>
            </div>
            </div>
        </div>
        <div class="meal-item-container">
            <div class="meal-image-container" style="background-image: url(../images/breakfast-menu-kii.jpg);">
                <!-- <img src="images/breakfast-menu-kii.jpg" alt=""> -->
            </div>
            <div class="meal-item-details">
                <div>
                <h3>Savanna Juice</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut aliqua.</p>
                    <span>GHS 8.00</span>
                    <div>
                    <button>Add to cart</button>
                    <button>Order Now</button>
                </div>
            </div>
            </div>
        </div>
        <div class="meal-item-container">
            <div class="meal-image-container" style="background-image: url(../images/breakfast-menu-x.jpg);">
                <!-- <img src="images/breakfast-menu-x.jpg" alt=""> -->
            </div>
            <div class="meal-item-details">
                <div>
                <h3>Tropical Mix</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut aliqua.</p>
                    <span>GHS 8.00</span>
                    <div>
                    <button>Add to cart</button>
                    <button>Order Now</button>
                </div>
            </div>
            </div>
        </div>
        <div class="meal-item-container">
            <div class="meal-image-container" style="background-image: url(../images/breakfast-menu-j.jpg);">
                <!-- <img src="images/breakfast-menu-j.jpg" alt=""> -->
            </div>
            <div class="meal-item-details">
                <div>
                <h3>Avenger Breakfast</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut aliqua.</p>
                    <span>GHS 35.00</span>
                    <div>
                    <button>Add to cart</button>
                    <button>Order Now</button>
                </div>
            </div>
            </div>
        </div>
        <div class="meal-item-container" >
            <div class="meal-image-container" style="background-image: url(../images/breakfast-menu-ji.jpg);">
                <!-- <img src="images/breakfast-menu-ji.jpg" alt=""> -->
            </div>
            <div class="meal-item-details">
                <div>
                <h3>iChef Morning</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut aliqua.</p>
                    <span>GHS 25.00</span>
                    <div>
                    <button>Add to cart</button>
                    <button>Order Now</button>
                </div>
            </div>
            </div>
        </div>
        <div class="meal-item-container">
            <div class="meal-image-container" style="background-image: url(../images/breakfast-menu-viii.jpg);">
                <!-- <img src="images/breakfast-menu-viii.jpg" alt=""> -->
            </div>
            <div class="meal-item-details">
                <div>
                <h3>Vita Rambo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut aliqua.</p>
                    <span>GHS 10.00</span>
                    <div>
                    <button>Add to cart</button>
                    <button>Order Now</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <a href="#">View Our Menu</a>
</section>
<!-- end: Menu section -->
<!-- start:footer -->
<%- include('layouts/footer'); -%>
<!-- End:footer -->


<!-- Start:Scripts -->
    <!-- Start:Genral Scripts -->
<%- include('layouts/general-scripts'); -%>
<!-- End:Genral Scripts -->
<!-- End:Scripts -->
</body>
</html>