/* General Styles */
body,html{
    margin:0;
    line-height: 1.8;
    font-weight: 300;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: #101203;
    -webkit-tap-highlight-color: transparent;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?z5b03v');
    src:  url('../fonts/icomoon.eot?z5b03v#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?z5b03v') format('truetype'),
      url('../fonts/icomoon.woff?z5b03v') format('woff'),
      url('../fonts/icomoon.svg?z5b03v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-flaticon-deliver:before {
    content: "\e900";
  }
  .icon-flaticon-vegetables:before {
    content: "\e901";
  }
  .icon-flaticon-recipe:before {
    content: "\e902";
  }
  
/* Navigation styles */
nav{
    background:#0f1404;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    max-height: 100%;
    overflow-x: auto;
}

.nav-menu {
    display:-webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content:space-between;
    justify-content: space-between;
    width: 93%;
    margin: 0 auto;
}


nav a{
    color: rgba(255,255,255,0.8);
}

nav img{
    max-width: 50%;
}

.logo-container {
    width: 25%;
}

.logo-container div {
    display: flex;
    align-items: center;
}

.desktop-nav-links div {
    display: none;
}

.desktop-nav-links span{
    color: rgba(255,255,255,0.8);
    padding: 0.3em 0.2em;
    cursor: pointer;
}

.focus{
border: 1px solid #ff7008;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
}

.mobile-nav-links a {
    padding: 1.2em 1em;
}

i#hamburger {
    padding-right: 0.5em;
}

.hide, .slide,.slide-image{
    display: none;
}

.logo-container small{
 font-family: 'Josefin Sans', sans-serif;
 letter-spacing: 0.3em;
 color: #ff7008;
}

.logo-container span {
    font-size: 78%;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f1404;
    opacity: .5;
    z-index: 99;
}

/* Home/slideshow section styles */

.slideshow-container{
  width: 100%;
  height: 100%;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/wood-ii-xs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.slide{
    width: 94%;
    text-align: center;
}

.slide-links {
    display: flex;
    justify-content: center;
}

.slide a{
    padding: 0.6em;
}

.slide .subtitle {
    font-family: 'Nothing You Could Do', cursive;
    color: #f88854;
    font-size: 180%;
}

.slide .title {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.slide .text{
    font-size: 90%;
}

a.order-link {
    background: #ff7008;
    color: #211102;
    margin-right: 1.5em;
}
a.menu-link {
    color: #fff;
    border: 1px solid #fff;
}
.slide .slide-description{
    width: 100%;
}
.dot-container{
    position: absolute;
    bottom: 2%;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
  }

  /* Fade Animation For slideshow*/
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* Fade animation for displaying food details */
  /* .fadeX {
    -webkit-animation-name: fadeX;
    -webkit-animation-duration: 5s;
    animation-name: fadeX;
    animation-duration: 9s;
    animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes fadeX {
    0%   { opacity:0; }
    50%  { opacity:0.9; }
    100% { opacity:0; } 
  }
  
  @keyframes fadeX {
    0%   { opacity:0; }
    50%  { opacity:0.9; }
    100% { opacity:0; }
  } */

  /* Mini contact/address section */

  .contact-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-action .fa {
    font-size: 130%;
    color: #ff7008;
}

.contact-action-details {
    width: 80%;
}

.contact-action-details h3 {
    font-size: 80%;
    margin-bottom: 0;
}

.contact-action-details p {
    font-size: 70%;
    text-transform: capitalize;
    color: rgba(255,255,255,0.8);
    margin-top: 0;
}

.social-links {
    background: #ff7008;
    color: #211102;
    font-size: 130%;
    padding: 0.5em 0em;
    display: flex;
    justify-content: space-evenly;
}
  
/* About section */
.restaurant-image-container {
    width: 100%;
}
.restaurant-image-container img {
    width: 100%;
}

/* .about-text h2 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
} */
.about-text {
    padding: 0% 3%;
}
.about-text h2 {
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 160%;
}

.about-text p {
    font-size: 95%;
    color: rgba(255,255,255,0.8);
}

/* Services Section */
.services{
    background: #ff7008;
    color: #180e02; 
    padding: 3em 0em;
}

section.services p, .menu p {
    font-size: 90%;
}

section.services h2, section.services h3, .menu h2, .menu h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0;
}

.services-intro,.menu-intro{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.services-list-item {
    width: 85%;
    padding: 2em 0em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.my-icon {
    font-size: 400%;
    padding: 0.3em;
    border: 1px solid rgba(24, 14, 2, 0.5);
}

    /* Menu Section */
    .menu{
        padding: 3em 0em;
    }
    .menu p{
        color: rgba(255,255,255,0.8);
    }
    .menu-list-container{
        padding: 3em 0em;
        display: flex;
        flex-direction: column;
    }

    .meal-image-container img{
        width: 100%;
        vertical-align: middle;
    }
    .meal-image-container{
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .meal-item-container{
        cursor: pointer;
        /* position: relative; */
        display: flex;
        width: 100%;
        margin-bottom: 3em;
    }

    .menu a {
        text-align: center;
        display: table;
        color: #fff;
        border: 1px solid #fff;
        margin: 0 auto;
        padding: 0.7em 1em;
        font-size: larger;
    }
    .meal-item-details {
        /* position: absolute;
        top: 0;
        left: 0; */
        width: 50%;
        /* height: 100%; */
        background: #101203;
        /* opacity: .9; */
        /* display: none; */
    }
    /* .opacity{
        opacity: 0;
    } */
    .meal-item-details div:nth-child(1) {
        width: 90%;
        margin: 0 auto;
    }

    .meal-item-details span {
        color: #ff7008;
    }

    .meal-item-details button:nth-child(1) {
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        padding: 0.7em 1em;
        /* margin-bottom: 1.3em; */
        margin:0em 0em 1.3em 0em;
    }

    .meal-item-details button:nth-child(2) {
        background: transparent;
        color: #ff7008;
        border: 1px solid #ff7008;
        padding: 0.7em 1em;
    }

    .meal-item-details div:nth-child(1) div {
        padding: 1em 0em 0em 0em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* .meal-item-container:hover .meal-item-details{
        display: block;
    } */

    /* Invitation */
    .invitation {
        text-align: center;
        /* color: #ff7008; */
        font-family: 'Josefin Sans', sans-serif;
    }

    /* Gallary section */
    .gallary{
        padding: 3em 0em 0em 0em;
    }
    .gallary-image-container {
        width: 100%;
    }
    .gallary-image-container img {
        width: 100%;
        vertical-align: middle;
    }

    /* Maxi Contact Us section */
    .maxi-contact {
        background: #171401;
    }
    .map{
        width: 100%;
        height: 25em;
        color: gray;
    }
    .contact-form {
        padding: 3em 0em;
    }
    .contact-form h3 {
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
    }

    form {
        display: flex;
        flex-direction: column;
        color: rgba(255,255,255,0.8);
        width: 90%;
        margin: 0 auto;
    }
    form div{
        display: flex;
        flex-direction: column;
    }
    form label {
        font-size: 90%;
    }
    form input, form textarea {
        background: transparent;
        border: none;
        border-bottom: 0.1rem solid #343a40;
        margin: 0em 0em 3em 0em;
        font-size: 110%;
        color: rgba(255,255,255,0.8);
        font-family: 'Poppins', sans-serif;
    }
    form button {
        padding: 1.3em 3em;
        background: #ff7008;
        color: #211102;
        border: none;
        margin: 0 auto;
    }
    form input:focus , form textarea:focus{
        /* border: none; */
        outline: none;
        border-bottom: 0.1rem solid #ff7008;
    }
    form div:focus-within label{
        color:#ff7008 ;
    }

    /* Footer section */
    footer{
        padding: 5em 1em;
        text-align: center;
    }
    footer p:nth-child(1) {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 150%;
    }
    footer p:nth-child(1) span {
        color: #ff7008;
    }

    footer p:nth-child(2){
    color: rgba(255,255,255,0.8);
    }

    footer .icon-flaticon-recipe{
        font-size: 130%;
    }


@media only screen and (min-width: 768px) {
    /* Navigation styles */
    .mobile-nav-links a {
        padding: 1.2em 2.5em;
    }
    .logo-container {
        width: 15%;
    }

    /* Home/slideshow section styles */
    .slide:nth-child(1){
        width: 60%;
    }

    .slide:nth-child(2),.slide:nth-child(3){
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: right;
    }

    .slide:nth-child(3){
        flex-direction: row-reverse;
        text-align: left;
    }
    .slide:nth-child(2) .slide-links{
        justify-content: flex-end;
    }
    .slide:nth-child(3) .slide-links{
        justify-content: flex-start;
    }
    .slide:nth-child(2) .slide-description,.slide:nth-child(3) .slide-description{
        width: 48%;
    }
    .slide-image{
        display: block;
        width: 48%;
    }
    .slide-image img{
        width: 100%;
    }

    /* Mini contact/address section */
    .mini-about {
        display: flex;
        justify-content: space-evenly;
        padding: 0.3em 0em;
    }

    .contact-action {
        width: 32%;
    }

    /* About section */
    section.about {
        display: flex;
        align-items: center;
    }

    .restaurant-image-container {
        width: 50%;
    }

    .about-text {
        width: 50%;
    }
/* Services Section */
.services-intro, .menu-intro {
    width: 50%;
}
.services-list {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.services-list-item {
    width: 27%;
    margin: 0;
}

/* Menu Section */
.menu-list-container{
    flex-direction: row;
    flex-wrap: wrap;
}

.meal-item-container{
    /* width: 50%; */

}

.meal-item-details div:nth-child(1) div{
    flex-direction: row;
}

.meal-item-details button:nth-child(1){
    margin: 0em 1.3em 0em 0em;
}

/* Gallary section */
.gallary{
    display: flex;
}

.gallary-image-container{
    width:25%
}

/* Maxi Contact Us section */
.maxi-contact{
    display: flex;
}
.contact-form {
    width: 50%;
}
.map{
    width: 50%;
    height: auto;
}

/* footer section */
footer p:nth-child(1) {
    font-size: 160%;
}
}

@media only screen and (min-width: 1024px) {
    /* Navigation styles */
    .logo-container {
        width: 10%;
    }
    .desktop-nav-links span {
        display: none;
    }

    .desktop-nav-links div {
        display: flex;
    }

    .desktop-nav-links div a {
        padding-left: 2em;
    }

    /* Home/slideshow section styles */

    .slide:nth-child(1){
        width: 52%;
    }

    .slide:nth-child(2),.slide:nth-child(3){
        width: 80%;
    }

    /* Mini contact/address section */
    .mini-contact {
        display: flex;
    }

    .mini-about {
    align-items: flex-start;
    width: 70%;
    padding: 0.6em 0em;
    }

    
.social-links {
    align-items: center;
    width: 30%;
    font-size: 140%;
}

.contact-action-details h3 {
    font-size: 90%;
}
.contact-action-details p {
    font-size: 80%;
}
/* Services Section */
.services-intro , .menu-intro{
    width: 40%;
}

.services-list {
    width: 85%;
    margin: 0 auto;
}

/* Menu Section */
.meal-item-container{
    width: 33.33%;

}
.meal-item-details div:nth-child(1) div{
    flex-direction: column;
}

.meal-item-details button:nth-child(1){
    margin: 0em 0em 1.3em 0em;
}
/* .meal-item-container:hover .meal-item-details{
    opacity: .9;
} */

/* footer section */
footer p:nth-child(1) {
    font-size: 170%;
}

}

@media only screen and (min-width: 1440px) {
    /* Navigation styles */
    .logo-container {
        width: 7%;
    }
    .nav-menu {
        width: 77%;
    }

    /* Home/slideshow section styles */
    .slide:nth-child(1){
        width: 33%;
    }

    .slide:nth-child(2),.slide:nth-child(3){
        width: 66%;
    }

    /* Mini contact/address section */

    .contact-action-details h3 {
        font-size: 100%;
    }
    .contact-action-details p {
        font-size: 90%;
    }

    .social-links {
        font-size: 150%;
    }
    .mini-about {
        padding: 0.9em 0em;
    }

    /*About Section*/
    .about-text {
        padding: 0% 5%;
    }

    .about-text h2 {
        font-size: 175%;
    }

    .about-text p {
        font-size: 115%;
    }
 
        /* Services Section */
    .services-intro, .menu-intro {
        width: 30%;
    }

    .services-list {
        width: 75%;
    }

    /* Menu Section */
    .meal-item-container{
        /* width: 25%; */

    }
    
.meal-item-details div:nth-child(1) div{
    flex-direction: row;
}

.meal-item-details button:nth-child(1){
    margin: 0em 1.3em 0em 0em;
}

    /* Maxi Contact Section */
    form{
        width: 80%;
    }
    /* footer section */
footer p:nth-child(1) {
    font-size: 180%;
}
}

@media only screen and (min-width: 2560px) {
    /* Navigation styles */
    .logo-container {
        width: 4%;
    }
    .nav-menu {
        width: 48%;
    }

    /* Home/slideshow section styles */
    .slide:nth-child(1){
        width: 23%;
    }

    .slide:nth-child(2),.slide:nth-child(3){
        width: 50%;
    }

    /* Mini contact/address section */
    .contact-action-details h3 {
        font-size: 110%;
    }
    .contact-action-details p {
        font-size: 100%;
    } 
    .social-links {
        font-size: 160%;
    }  

    .mini-about {
        padding: 1.2em 0em;
    }

     /*About Section*/
     .about-text {
        padding: 0% 8%;
    }

    .about-text h2 {
        font-size: 185%;
    }

    .about-text p {
        font-size: 125%;
    }

     /* Services Section */
    .services-intro,.menu-intro {
        width: 20%;
    }

    .services-list {
        width: 65%;
    }

     /* Menu Section */
     /* .meal-item-container{
        width: 16.66%;

    } */

     /* Maxi Contact Section */
     form{
        width: 70%;
    }

    /* footer section */
    footer p:nth-child(1) {
        font-size: 190%;
    }
}