/* page h1 title */
h1{
    padding: 2em 0em 0em 0em;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/* <!-- Summary Cards Section --> */
.sumary-cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.sumary-cards a {
    display: flex;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0.3em;
    margin: 0em 0em 2em 0em;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-text {
    /* width: 65%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-img {
    width: 20%;
}
.card-img img {
    width: 100%;
    /* border-radius: 100%; */
    vertical-align: middle;
}

.card-text span:nth-child(1){
    font-size: 200%;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.card-text span:nth-child(2),.order-text span:nth-child(2) {
    /* font-size: 90%; */
    color: #7e7e7e;
}

.order-count{
    color: #36a9f3;
}

.revenue-count{
    color: #f16e53;
}

.feedback-count{
    color: #5eca70;
}

/* <!-- Order Summary Cards Section --> */

.order-summary-card {
    background: #fff;
    width: 85%;
    margin: 0 auto;
    padding: 2em 0em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.order-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0em 0em 1.2em 0em;
}

.order-text {
    display: flex;
    flex-direction: column;
    padding: 0em 0em 0em 1em;
    line-height: 1.2;
}
.order-img {
    width: 13%;
}

.order-img img {
    width: 100%;
    vertical-align: middle;
}

.order-text span:nth-child(1){
    font-size: 180%;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.pending-order-count{
color: #fbc927;
}

.cancelled-order-count{
color: #f16a4a;
}

.accepted-order-count{
color: #60d166;
}

.dispatched-order-count{
color: #36a4e3;
}

.delivered-order-count{
    color: #7f63f4;

}

@media only screen and (min-width: 768px) {
    /* <!-- Summary Cards Section --> */
.sumary-cards{
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.sumary-cards a{
    margin: 0;
    width: 30%;
}

/* <!-- Order Summary Cards Section --> */
.order-summary-card{
    width: 95%;
    margin: 3em auto 0em auto;
}

.order-summary-card a {
    display: flex;
    justify-content: space-evenly;
}

.order-card {
    width: 18%;
}

.order-img {
    width: 40%;
}


}

@media only screen and (min-width: 1024px) {
    /* <!-- Summary Cards Section --> */
    .sumary-cards{
        width: 90%;
    }
    .card-text span:nth-child(2) {
        font-size: 110%;
    }

    /* <!-- Order Summary Cards Section --> */
    .order-summary-card{
        width: 90%;
    }

    .order-img {
        width: 30%;
    }
}

@media only screen and (min-width: 1440px) {
    /* <!-- Summary Cards Section --> */
    .sumary-cards{
        width: 80%;
    }

    /* <!-- Order Summary Cards Section --> */
    .order-summary-card{
        width: 80%;
    }

    .order-img {
        width: 30%;
    }
}

@media only screen and (min-width: 2560px) {
    /* <!-- Order Summary Cards Section --> */
    .order-img {
        width: 20%;
    }
}