/* page h1 title */
h1{
    padding: 2em 0em 0em 0em;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/* <!-- Summary Cards Section --> */
.sumary-cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.sumary-cards a {
    display: flex;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0.3em;
    margin: 0em 0em 2em 0em;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-text {
    /* width: 65%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-img {
    width: 20%;
}
.card-img img {
    width: 100%;
    /* border-radius: 100%; */
    vertical-align: middle;
}

.card-text span:nth-child(1){
    font-size: 200%;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.card-text span:nth-child(2),.order-text span:nth-child(2) {
    /* font-size: 90%; */
    color: #7e7e7e;
}

.order-count{
    color: #36a9f3;
}

.revenue-count{
    color: #f16e53;
}

.feedback-count{
    color: #5eca70;
}

/* <!-- Order Summary Cards Section --> */

.order-summary-card {
    background: #fff;
    width: 85%;
    margin: 0 auto;
    padding: 2em 0em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.order-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0em 0em 1.2em 0em;
}

.order-text {
    display: flex;
    flex-direction: column;
    padding: 0em 0em 0em 1em;
    line-height: 1.2;
}
.order-img {
    width: 13%;
}

.order-img img {
    width: 100%;
    vertical-align: middle;
}

.order-text span:nth-child(1){
    font-size: 180%;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.pending-order-count{
color: #fbc927;
}

.cancelled-order-count{
color: #f16a4a;
}

.accepted-order-count{
color: #60d166;
}

.dispatched-order-count{
color: #36a4e3;
}

.delivered-order-count{
    color: #7f63f4;

}

/* <!-- Menu and Order List Summary --> */
/* .menu-order-list-summary {
    margin: 3em 0em;
    height: 100%;
} */

.menu-list {
    background: #fff;
    width: 85%;
    margin: 2em auto 2em auto;
    padding: 0.8em 0em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    max-height: 65%;
    overflow: auto;
}

.menu-list p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 0.8em;
}

.menu-list-item {
    line-height: 1.2;
    font-size: 85%;
    color: rgba(51, 51, 51, 0.8);
}

.menu-list-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.menu-list p:nth-child(1), .order-list-title {
    color: #7f63f4;
    border-left: 2px solid #7f63f4;
    font-weight: 600;
}

.menu-list p:nth-child(1) a , .order-list-title a{
    background: #7f63f4;
    color: #fff;
    padding: 0.2em 0.4em;
    border-radius: 5px;
}

.menu-list-item span:nth-child(2) {
    background: #60d166;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.2em 0.3em;
    border-radius: 5px;
}

/* Received Order List */

.order-list {
    background: #fff;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 1em 0em;
    height: 65%;
}

.order-list-title {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 0.8em;
    height: 10%;
}

.order-list-container {
    width: 100%;
    height: 85%;
    overflow: auto;
    /* margin-bottom: 0; */
}

.order-list-container table {
    border-spacing: 0;
    width: 100%;
}

table th {
    /* padding: 0em 1.5em 0em 0em; */
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}

table td{
    white-space: nowrap;
    padding: 0em 2em 0em 0em;
    font-size: 85%;
}

.order-list-container > table > tbody > tr > td, .order-list-container > table > tbody > tr > th {
    /* background: lightblue; */
    padding: 1em 0.8em;
}

.order-list-container > table > tbody > tr > td {
    border-top: 1px solid #7e7e7e4d;
}


@media only screen and (min-width: 768px) {
    /* <!-- Summary Cards Section --> */
.sumary-cards{
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.sumary-cards a{
    margin: 0;
    width: 30%;
}

/* <!-- Order Summary Cards Section --> */
.order-summary-card{
    width: 95%;
    margin: 3em auto 0em auto;
}

.order-summary-card a {
    display: flex;
    justify-content: space-evenly;
}

.order-card {
    width: 18%;
}

.order-img {
    width: 40%;
}


}

@media only screen and (min-width: 1024px) {
    /* <!-- Summary Cards Section --> */
    .sumary-cards{
        width: 90%;
    }
    .card-text span:nth-child(2) {
        font-size: 110%;
    }

    /* <!-- Order Summary Cards Section --> */
    .order-summary-card{
        width: 90%;
    }

    .order-img {
        width: 30%;
    }

    .order-list {
        width: 60%;
        display: inline-block;
    }

    /* Received Order List */

    /* .menu-order-list-summary {
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    } */

    .menu-list {
        width: 30%;
        margin: 2em 2.5% 0em 2.5%;
        display: inline-block;
    }


}

@media only screen and (min-width: 1440px) {
    /* <!-- Summary Cards Section --> */
    .sumary-cards{
        width: 80%;
    }

    /* <!-- Order Summary Cards Section --> */
    .order-summary-card{
        width: 80%;
    }

    .order-img {
        width: 30%;
    }
}

@media only screen and (min-width: 2560px) {
    /* <!-- Order Summary Cards Section --> */
    .order-img {
        width: 20%;
    }
}